In [4]:
import numpy as np
import pandas as pd

# 문제3

In [13]:
wealth = 1000000
riskless = 0.06
annual = 0.08
sd = 0.2
proportion = 0.7
drawdown = 150000

In [30]:
np.random.seed(0)
year=np.arange(1,11)
df = pd.DataFrame(index=year, columns=list('BCDEFGHI'))
df.loc[:,'H'] = drawdown
df.loc[:,'E'] = np.random.randn(10)

df.loc[1, 'B'] = wealth
df.loc[1, 'C'] = wealth * proportion
df.loc[1, 'D'] = wealth * (1-proportion)
df.loc[1, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[1,'E'])
df.loc[1, 'G'] = df.loc[1, 'C'] * df.loc[1, 'F'] + df.loc[1, 'D'] * np.exp(riskless)
df

,B,C,D,E,F,G,H,I
1,1000000,700000.0,300000.0,1.764052,0.868022,926166.066667,150000,NaN
2,NaN,NaN,NaN,0.400157,NaN,NaN,150000,NaN
3,NaN,NaN,NaN,0.978738,NaN,NaN,150000,NaN
4,NaN,NaN,NaN,2.240893,NaN,NaN,150000,NaN
5,NaN,NaN,NaN,1.867558,NaN,NaN,150000,NaN
6,NaN,NaN,NaN,-0.977278,NaN,NaN,150000,NaN
7,NaN,NaN,NaN,0.950088,NaN,NaN,150000,NaN
8,NaN,NaN,NaN,-0.151357,NaN,NaN,150000,NaN
9,NaN,NaN,NaN,-0.103219,NaN,NaN,150000,NaN
10,NaN,NaN,NaN,0.410599,NaN,NaN,150000,NaN

In [40]:
for i in range(2, len(df)+1):
    df.loc[i, 'B'] = df.loc[i-1, 'G'] - df.loc[i-1, 'H']
    df.loc[i, 'C'] = df.loc[i, 'B'] * proportion 
    df.loc[i, 'D'] = df.loc[i, 'B'] * (1-proportion)
    df.loc[i, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[i,'E'])
    df.loc[i, 'G'] = df.loc[i, 'C'] * df.loc[i, 'F'] + df.loc[i, 'D'] * np.exp(riskless)
df.loc[10, 'I'] = df.loc[10, 'G'] - df.loc[10, 'H']

In [41]:
df

,B,C,D,E,F,G,H,I
1,1000000,700000.0,300000.0,1.764052,0.868022,926166.066667,150000,NaN
2,776166.066667,543316.246667,232849.82,0.400157,0.660791,606266.913465,150000,NaN
3,456266.913465,319386.839426,136880.07404,0.978738,0.741855,382282.963287,150000,NaN
4,232282.963287,162598.074301,69684.888986,2.240893,0.954879,229255.465605,150000,NaN
5,79255.465605,55478.825924,23776.639682,1.867558,0.886178,74411.013387,150000,NaN
6,-75588.986613,-52912.290629,-22676.695984,-0.977278,0.501674,-50623.665548,150000,NaN
7,-200623.665548,-140436.565884,-60187.099664,0.950088,0.737616,-167497.163647,150000,NaN
8,-317497.163647,-222248.014553,-95249.149094,-0.151357,0.59178,-232660.920187,150000,NaN
9,-382660.920187,-267862.644131,-114798.276056,-0.103219,0.597505,-281946.222827,150000,NaN
10,-431946.222827,-302362.355979,-129583.866848,0.410599,0.662172,-337812.863934,150000,-487812.863934

# 문제4

In [42]:
cushion = 3

In [52]:
np.random.seed(0)
year=np.arange(1,11)
df = pd.DataFrame(index=year, columns=list('BCDEFGHI'))
df.loc[:,'E'] = np.random.randn(10)
df.loc[1,'H'] = drawdown

df.loc[1, 'B'] = wealth
df.loc[1, 'C'] = wealth * proportion
df.loc[1, 'D'] = wealth * (1-proportion)
df.loc[1, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[1,'E'])
df.loc[1, 'G'] = df.loc[1, 'C'] * df.loc[1, 'F'] + df.loc[1, 'D'] * np.exp(riskless)
df

,B,C,D,E,F,G,H,I
1,1000000,700000.0,300000.0,1.764052,0.868022,926166.066667,150000,NaN
2,NaN,NaN,NaN,0.400157,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,0.978738,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,2.240893,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,1.867558,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,-0.977278,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,0.950088,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,-0.151357,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,-0.103219,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,0.410599,NaN,NaN,NaN,NaN

In [53]:
for i in range(2, len(df)+1):
    df.loc[i, 'B'] = df.loc[i-1, 'G'] - df.loc[i-1, 'H']
    df.loc[i, 'C'] = df.loc[i, 'B'] * proportion 
    df.loc[i, 'D'] = df.loc[i, 'B'] * (1-proportion)
    df.loc[i, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[i,'E'])
    df.loc[i, 'G'] = df.loc[i, 'C'] * df.loc[i, 'F'] + df.loc[i, 'D'] * np.exp(riskless)
    if (df.loc[i, 'G'] > cushion*drawdown): 
        df.loc[i, 'H'] = drawdown
    else: 
        df.loc[i, 'H'] = df.loc[i, 'G']/3
df.loc[10, 'I'] = df.loc[10, 'G'] - df.loc[10, 'H'] 
df

,B,C,D,E,F,G,H,I
1,1000000,700000.0,300000.0,1.764052,0.868022,926166.066667,150000,NaN
2,776166.066667,543316.246667,232849.82,0.400157,0.660791,606266.913465,150000,NaN
3,456266.913465,319386.839426,136880.07404,0.978738,0.741855,382282.963287,127427.654429,NaN
4,254855.308858,178398.716201,76456.592657,2.240893,0.954879,251533.610849,83844.53695,NaN
5,167689.073899,117382.351729,50306.72217,1.867558,0.886178,157439.159905,52479.719968,NaN
6,104959.439936,73471.607955,31487.831981,-0.977278,0.501674,70293.726924,23431.242308,NaN
7,46862.484616,32803.739231,14058.745385,0.950088,0.737616,39124.662752,13041.554251,NaN
8,26083.108501,18258.175951,7824.93255,-0.151357,0.59178,19113.619648,6371.206549,NaN
9,12742.413099,8919.689169,3822.72393,-0.103219,0.597505,9388.665143,3129.555048,NaN
10,6259.110095,4381.377067,1877.733029,0.410599,0.662172,4895.072107,1631.690702,3263.381404

# 문제5

In [158]:
def PositiveWealth(wealth, riskless, annual, sd, proportion, drawdown, run):
    positiveCnt = 0
    np.random.seed(0)
    for cnt in range(run):
        year=np.arange(1,11)
        df = pd.DataFrame(index=year, columns=list('BCDEFGHI'))
        df.loc[:,'E'] = np.random.randn(10)
        df.loc[:,'H'] = drawdown

        df.loc[1, 'B'] = wealth
        df.loc[1, 'C'] = wealth * proportion
        df.loc[1, 'D'] = wealth * (1-proportion)
        df.loc[1, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[1,'E'])
        df.loc[1, 'G'] = df.loc[1, 'C'] * df.loc[1, 'F'] + df.loc[1, 'D'] * np.exp(riskless)

        for i in range(2, len(df)+1):
            df.loc[i, 'B'] = df.loc[i-1, 'G'] - df.loc[i-1, 'H']
            df.loc[i, 'C'] = df.loc[i, 'B'] * proportion 
            df.loc[i, 'D'] = df.loc[i, 'B'] * (1-proportion)
            df.loc[i, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[i,'E'])
            df.loc[i, 'G'] = df.loc[i, 'C'] * df.loc[i, 'F'] + df.loc[i, 'D'] * np.exp(riskless)
        df.loc[10, 'I'] = df.loc[10, 'G'] - df.loc[10, 'H'] 
        if (df.loc[10, 'I'] > 0):
            positiveCnt += 1

    print(f"Successful runs = {round(positiveCnt/1000 * 100, 2)}%")

In [159]:
wealth = 1000000
riskless = 0.08
annual = 0.10
sd = 0.4
proportion = 0.4
drawdown = 100000
run = 1000
PositiveWealth(wealth, riskless, annual, sd, proportion, drawdown, run)

Successful runs = 0.2%

# 문제6

In [172]:
import math

In [176]:
def WealthWithCushion(wealth, riskless, annual, sd, proportion, drawdown, run, cushion):
    outList = []
    np.random.seed(0)
    for cnt in range(run):
        year=np.arange(1,11)
        df = pd.DataFrame(index=year, columns=list('BCDEFGHI'))
        df.loc[:,'E'] = np.random.randn(10)
        df.loc[1,'H'] = drawdown

        df.loc[1, 'B'] = wealth
        df.loc[1, 'C'] = wealth * proportion
        df.loc[1, 'D'] = wealth * (1-proportion)
        df.loc[1, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[1,'E'])
        df.loc[1, 'G'] = df.loc[1, 'C'] * df.loc[1, 'F'] + df.loc[1, 'D'] * np.exp(riskless)
        for i in range(2, len(df)+1):
            df.loc[i, 'B'] = df.loc[i-1, 'G'] - df.loc[i-1, 'H']
            df.loc[i, 'C'] = df.loc[i, 'B'] * proportion 
            df.loc[i, 'D'] = df.loc[i, 'B'] * (1-proportion)
            df.loc[i, 'F'] = np.exp( (annual-0.5*np.power(2, sd)) + sd*df.loc[i,'E'])
            df.loc[i, 'G'] = df.loc[i, 'C'] * df.loc[i, 'F'] + df.loc[i, 'D'] * np.exp(riskless)
            if (df.loc[i, 'G'] > cushion*drawdown): 
                df.loc[i, 'H'] = drawdown
            else: 
                df.loc[i, 'H'] = df.loc[i, 'G']/3
        df.loc[10, 'I'] = df.loc[10, 'G'] - df.loc[10, 'H'] 
        outList.append(df.loc[10, 'I'])
    print(f"Result mean= {np.mean(outList)} sd= {math.sqrt(np.var(outList))}")

In [177]:
wealth = 1000000
riskless = 0.08
annual = 0.10
sd = 0.4
proportion = 0.4
drawdown = 100000
run = 1000
cushion = 3
WealthWithCushion(wealth, riskless, annual, sd, proportion, drawdown, run, cushion)

Result mean= 14930.898152466665 sd= 9628.577843168005