In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('historical simulation.xlsx', header=8)
df

,Day,Date,S&P500,FTSE 100,CAC40,Nikkei 225,USD/GBP,EUR/USD,JPY/USD
0,0,2018-05-09,5292.899902,6515.12,14248.81,35149.26,1.355344,0.84261,109.024002
1,1,2018-05-10,5343.700195,6590.48,14277.96,35287.76,1.354463,0.84408,109.847000
2,2,2018-05-11,5354.689941,6642.39,14319.78,35697.62,1.352338,0.83910,109.435997
3,3,2018-05-14,5359.660156,6639.69,14325.19,35866.05,1.355381,0.83667,109.337997
4,4,2018-05-15,5323.229980,6638.76,14357.45,35791.01,1.356245,0.83814,109.731003
...,...,...,...,...,...,...,...,...,...
496,496,2020-07-01,6383.759766,5723.02,13591.32,36273.43,1.238927,0.89000,107.988998
497,497,2020-07-02,6414.160156,5796.88,13930.79,36313.16,1.246479,0.88878,107.365997
498,498,2020-07-06,6516.049805,5796.26,14031.46,37245.31,1.247552,0.88911,107.579002
499,499,2020-07-07,6445.589844,5817.60,13953.12,37081.75,1.249547,0.88395,107.359001
500,500,2020-07-08,6496.140137,5784.23,13782.82,36793.09,1.254280,0.88690,107.578003